<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buyer.flashfetch">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.buyer.flashfetch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.buyer.flashfetch.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FlashFetch"
        android:supportsRtl="true"
        android:name = "android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver android:name=".BroadcastReceivers.RegistrationReceiver"/>

        <service
            android:name=".FireBaseCloudMessaging.MessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".FireBaseCloudMessaging.InstanceIDService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".FireBaseCloudMessaging.RegistrationService"
            android:exported="false" />

        <activity
            android:name=".ExtractActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".RegistrationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ForgotPassword"
            android:screenOrientation="portrait"/>

        <activity android:name=".PasswordVerification"
            android:screenOrientation="portrait"/>

        <activity android:name=".ChangePassword"
            android:screenOrientation="portrait"/>

        <activity android:name=".AccountInfoActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".PlaceRequestActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".QuotesActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MapsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".NearByDealsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".NotificationsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".HomeDelivery"
            android:screenOrientation="portrait"/>

        <activity android:name=".ContactUs"
            android:screenOrientation="portrait"/>

        <activity android:name=".FillAddressActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".RewardsActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ReferAndEarn"
            android:screenOrientation="portrait"/>

        <activity android:name=".DeliveryActivity" />

        <activity android:name=".AccountVerification"
            android:screenOrientation="portrait"/>

        <activity android:name=".MaxResponse"
            android:screenOrientation="portrait"/>

    </application>

</manifest>
