<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.buyer.flashfetch">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <permission
        android:name="com.buyer.flashfetch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.buyer.flashfetch.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="FlashFetch"
        android:supportsRtl="true"
        android:name = "android.support.multidex.MultiDexApplication"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.buyer.flashfetch" />
            </intent-filter>
        </receiver>

        <service
            android:name=".Services.IE_GCMListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name=".Services.IE_InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name=".Services.IE_RegistrationIntentService"
            android:exported="false" />

        <activity
            android:name=".ExtractActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <!--<activity-->
            <!--android:name=".LoginActivity">-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->
                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->

        <activity
            android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"/>

        <activity android:name=".RegisterActivity"/>

        <activity android:name=".ForgotPassword"/>

        <activity android:name=".PasswordVerification"/>

        <activity android:name=".ChangePassword"/>

        <activity android:name=".AccountInfoActivity"/>

        <activity android:name=".PlaceRequestActivity"/>

        <activity android:name=".QuotesActivity"/>

        <activity android:name=".MapsActivity" />

        <activity android:name=".DealsNearByActivity"/>

        <activity android:name=".NotificationsActivity"/>

        <activity android:name=".HomeDelivery"/>

        <activity android:name=".ContactUs" />

        <activity android:name=".FillAddressActivity"/>

        <activity android:name=".RewardsActivity"/>

        <activity android:name=".ReferAndEarn" />

        <activity android:name=".FeedbackActivity" />

        <activity android:name=".FeedbackActivity1" />

        <activity android:name=".FeedbackActivity2"/>

        <activity android:name=".DeliveryActivity" />

        <activity android:name=".VerifyEmail"/>

        <activity android:name=".MaxResponse" />

    </application>

</manifest>
